<html>
    <head>
        <title>Watch Anime Together</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id="top">
        <div class="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="container-fluid d-flex display-column justify-content-center">
            <div class="row justify-content-center">
                <div class="col-6 d-flex justify-content-center display-column">
                    <form name="form" method="get" action="/search">
                        <input name="search" type="text" class="type-message" placeholder="Search for Anime">
                        <button>Search</button>
                    </form>
                </div>
            </div>

            <% if(locals.animes) { %> 
                <div class="down-arrow">
                    <i class="fa-solid fa-arrow-down fa-3x"></i>
                </div>
            <% } %>
        </div>
        <% if(locals.lobbies) { %> 
            <% if(lobbies.length > 0) { %>
                <div class="container">
                    <div class="row">
                    <% for(var i = 0; i < lobbies.length; i++) {%>
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <div class="card anime-card" onclick="gotoUrl('/lobby/<%= lobbies[i].id %>/spectate')">
                                <div class="card-body">
                                    <h4 class="card-title"><%= lobbies[i].title %></h4>
                                    <p class="card-description"><%= lobbies[i].episode %></p>
                                    <p class="card-description">
                                        <b><%= lobbies[i].size || 0 %></b> Person(s) Watching
                                    </p>
                                    <p class="card-description"><b><%= lobbies[i].episodeCount %></b> Episodes!</p>

                                    <% if(lobbies[i].startTime) { %>
                                        <p class="card-description">Countdown: <b class="start-date" value="<%= lobbies[i].startTime %>">00:00:00</b></p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% if(locals.animes) { %> 
        <div class="container">
            <div class="row">
            <% for(var i = 0; i < animes.length; i++) {%>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="card anime-card" onclick="postAnimeId('<%= animes[i].id %>', '<%= animes[i].title %>')">
                        <img class="card-img-top" src="<%= animes[i].image %>">
                        <div class="card-body">
                            <h6 class="card-title"><%= animes[i].title %></h6>
                        </div>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
        <% } %>

        <% if(locals.animes) { %> 
            <a class="goto-top" href="#top">
                <i class="fa-solid fa-arrow-up text-white"></i>
            </a>
        <% } %>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="js/cookie.maker.js"></script>
        <script>

        </script>
    </body>
</html>